@import './base.css';

body {
  overflow: hidden;
  user-select: none;
}

input {
  background-color: transparent;
}

input:focus {
  outline: none;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  height: 200px;
  width: 150px;
  border-radius: 0.5rem;
}

.profile-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
